@import "tailwindcss";

@theme {
    --color-blend-white: #E6E6E6;
    --color-blend-brown: #616161;
    --color-light-brown: #8E8E8E;
    --color-hover-yellow: #FFA700;
    --color-yellow: #FF9800;
    --breakpoint-sm: 36rem;
    /* 576px */
    --breakpoint-colg: 62rem;
    /* 992px */
    --breakpoint-xl: 75rem;
    /* 1200px */
    --breakpoint-coxl: 81.25rem;
    /* 1300px */
    --breakpoint-2xl: 87.5rem;
    /* 1400px */
    --breakpoint-3xl: 96.0625rem;
    /* 1537px */
}

html,
body {
    height: 100%;
    overflow-y: auto;
    /* background-color: black; */
    font-family: "Outfit", sans-serif;
}

/* Transition utility */
.transition {
    transition: all 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

/* Canvas and background */
/* #dodecahedron-bg,
#dodecahedron-bg2,
#dodecahedron-canvas,
#dodecahedron-canvas2 {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
} */

.svg2Animation {
    animation: svg2Animation 7s linear infinite;
}

@keyframes svg2Animation {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-70px);
    }

    50% {
        transform: translateY(-140px);
    }

    75% {
        transform: translateY(-70px);
    }

    100% {
        transform: translateY(0);
    }
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #FF9800;
    border: none;
}