@import "tailwindcss";

@theme {
  --font-family-italic-f: "Playfair Display", serif;
  --breakpoint-coxs: 23.4375rem; /* 375px */
  --breakpoint-xs: 26.5625rem; /* 425px */
  --breakpoint-sm: 36rem; /* 576px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-colg: 62rem; /* 992px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 75rem; /* 1200px */
  --breakpoint-coxl: 81.25rem; /* 1300px */
  --breakpoint-2xl: 87.5rem; /* 1400px */
}
.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1px solid #b6aa97;
  pointer-events: none;
  z-index: 999999;
  border-radius: 999999px;
  transition: transform 0.13s ease, background-image 0.3s ease, opacity 0.13s ease;
}

.custom-cursor.image-mode {
  background-image: url(img-2/hero-4-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee-scroll 20s linear infinite;
}
.animate-marquee-2 {
  animation: marquee-scroll 10s linear infinite;
}
